


.container {
    background-color: green;
    width: 960px;
    height: 480px;
    /* border: 1px black solid; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
        /* translate: -50%, -50%; */
    display: flex;
    flex-wrap: wrap;
}

.square16x16 {
    outline: 1px solid;
    /* width: 60px;
    height: 30px; */
    /* flex: 1 0 auto; */
    width: calc(960px/16); /* Ajuster dynamiquement en fonction du nombre de colonnes souhaité */
    height: auto; /* Laisser la hauteur s'ajuster automatiquement */
    aspect-ratio: 1/1; /* Assurer que les carrés gardent un ratio de 1:1 */
    background-color: red;
}

.square16x16Hover {
    background-color: green;
}