


.container {
    background-color: green;
    width: auto;
    height: auto;
    /* border: 1px black solid; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
        /* translate: -50%, -50%; */
    display: flex;
    flex-wrap: wrap;
}

.square16x16 {
    /* border: 1px black solid; */
    outline: 1px solid;
    width: 90px;
    height: 70px;
    background-color: red;
}

.square16x16Hover {
    background-color: green;
}